<head>
    <title>Financial Dashboard</title>
</head>

<body>
    <h2>Welcome to your Financial Dashboard</h2>

    <form action="/profile" method="post">
        <input type="submit" value="User Profile">
    </form>
    <form action="/profile2" method="get">
        <input type="submit" value="User Profile 2">
    </form>
    <form action="/info" method="post">
        <input type="submit" value="Financial Dashboard">
    </form>
    <form action="/goal" method="post">
        <input type="submit" value="Goal-based Planning">
    </form>
    <form action="/expense" method="get">
        <input type="submit" value="Expense Tracker">
    </form>
</body>
</html>