<head>
    <title>Financial Dashboard</title>
</head>

<body>
    <h2>Welcome to your Financial Dashboard</h2>

    <form action="/profile" method="post">
        <input type="submit" value="Financial Dashboard">
    </form>
    <form action="/goal-based_planning" method="post">
        <input type="submit" value="Goal-based Planning">
    </form>
    <form action="/portfolio" method="post">
        <input type="submit" value="Portfolio Management">
    </form>
    <form action="/suggestions" method="post">
        <input type="submit" value="AI Investment Suggestions">
    </form>
</body>
</html>